.loader{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 10px solid yellow;
    border-left: 10px solid darkgreen;
    animation: spinAnimate 2s ease-in 0s infinite normal;
}

@keyframe spinAnimate{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}