*{
    padding: 0;
    margin: 0;
}

#navbar{
    height: 60px;
    background-color: black;
}
#one{
    color: orange;
    font-size: 25px;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
    color: white;
}

main{
    height: 500px;;
}

.box{
    height:100px;
    width: 100px;
    border-radius:25px ;
    border: 2px solid black;
    display: inline-block; 
    margin: 50px;
    text-align: center;
    padding: 5px;

}

#box1{
    background-color: rgba(255, 0, 0, 0.5);
}
#box2{
    background-color: rgba(0, 255, 0, 0.5);
}
#box3{
    background-color: rgba(0, 0, 255, 0.5);

}

footer{
    background-color: black;
    color: white;
    text-align: center;
    
}
